In [ ]:
# Design Spiral Star
import turtle as t
a1 = t.Turtle()
for i in range(40):
   a1.forward(i * 10)
   a1.left(144)
t.done()

In [ ]:
# Design Spiral Star
import turtle as t
a1 = t.Turtle()
a1.pencolor('pink')
for i in range(200):
   a1.forward(i)
   a1.left(91)
a1.done()

In [ ]:
# Design Circle
from turtle import *
pensize(20)
pencolor('blue')
fillcolor('red')
begin_fill()
circle(100)
end_fill()

In [ ]:
#design hexagon star
from turtle import *
pencolor('red')
colors = ['blue','green','red','yellow','purple','orange']
for i in range(360):
   pencolor(colors[i%6])
   width(i/100+1)
   forward(i)
   left(59)

In [ ]:
#design sperial sqard
from turtle import *
pensize(3)
pencolor('purple')
for i in range(100):
    circle(10+i,40)

In [ ]:
#design sperial sqard
from turtle import *
pensize(3)
pencolor('red')
color= ['purple','blue','green','yellow','orange','red']
for i in range(50):
    pencolor(color[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [ ]:
#design olympics logo
from turtle import*
pensize(6) # set 6 pixel
r1=["blue","black","red"]
for i in range(3):
   penup()
   pencolor(r1[i%3])
   goto(i*100,0)
   pendown()
   circle(45)
r2=["","yellow","","green"]
for i in range(1,4,2):
   penup()
   pencolor(r2[i])
   goto(i*55,-55)
   pendown()
   circle(50)

In [ ]:
# Design hexagon
from turtle import *
pencolor('blue')
colors = ['blue','green','red','yellow','orange','purple']
for i in range(360):
   pencolor(colors[i%6])
   width(i/100 + 1)
   forward(i)
   left(59)

In [ ]:
# design audi logo
from turtle import *
pensize(6)
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

In [ ]:
# car design
from turtle import *
bgcolor('green')
color('#2828F6')
fillcolor('#2828F6')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()

#code for drawing and roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

#code for drawing two tyre
penup()
goto(100,-10)
pendown()
color("black")
fillcolor("black")
begin_fill()
circle(20)
end_fill()
penup()
goto(400,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()

# idiomatic python
- Transformation code into beautiful,idiomatic python
- Replace traditional

In [5]:
# looping over a range of number
for i in [0,2,5,4,6]
print(1**2,end=' ')

print()
#pythonic way
for i in range(6):
    print(i ** 2,end=' ')

SyntaxError: invalid syntax (<ipython-input-5-b63061f56f31>, line 2)

In [4]:
# looping over the backwards
li = [1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [9]:
# looping over the collections with index
li = [1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
#pythonic-way
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [10]:
# looping over two collection
li=[1,2,3,4,5]
a=[1,2,3,4,5,6,8]
n=min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])
print()
for i,a in zip(li,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [1]:
#dictionary
d={'name':'gitam','emailid':'gitam@gitam.edu','address':'vizag'}
for k in d:
    print(k,end=' ')
print()

name emailid address

In [2]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

In [3]:
print(d)

{'name': 'gitam', 'emailid': 'gitam@gitam.edu', 'address': 'vizag'}

In [4]:
for k in d.values():
    print(k,end=' ')

gitam gitam@gitam.edu vizag

# list comprehension

In [5]:
# Traditional approch
li=[]
for i in range(10):
    a=i ** 2
    li.append(a)
print(sum(li))
print()
#pythonic-way
print(sum(i**2 for i in range(10)))

285

285

In [7]:
li=[]
for i in range(10):
    li.append(i**2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
com_list=[i**2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
for i in li:
    if i % 2 == 0:
        print(i,end=' ')

0 4 16 36 64

In [10]:
com_list=[i**2 for i in range(10) if i % 2 == 0]
com_list

[0, 4, 16, 36, 64]

# Lambda function
- Anonymous functions means that functions is without a name.
- Any lambdafunction python will be defined with lambda
- Syntax : lambda arg : expression

In [1]:
def squre(n):
    return n*n
squre(10)

100

In [2]:
a=lambda x : x * x
print(a(10))

100

# use of lambda with filter

In [4]:
def filterList(li):
    a=[]
    for i in li:
        if i % 2 == 0:
            a.append(i)
    return a
li=[1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [6]:
li=[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x : (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

### Lambda with map()
- map() function in python takes in a function and list as argument

In [7]:
def squareList(li):
    a=[]
    for i in li:
        a.append(i*2)
    return a
li=[1,2,3,4,5,6,7,8]
squareList(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [8]:
# Lambda with map()
li=[1,2,3,4,5,6,7,8]
map_list=list(map(lambda x : x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### Lambda with reduce()

In [10]:
def sumList(li):
    s=0
    for i in li:
        s +=i
    return s
li=[1,2,3,4,5,6,7,8]
sumList(li)

36

In [11]:
from functools import reduce
li=[1,2,3,4,5,6,7,8]
s=reduce((lambda x,y:x+y),li)
print(s)

36

### Standard Package
### Pandas,Numpy and Matplotlib

### Pandas
#### Usecase
- Data Cleaning
- Data Transformation
- Data Analysis
#### Notations
- series
   - A series is a one-dimentional object that can hold int,float,string
- Data Frames

In [16]:
import pandas as pd
internal1 = {'s1':35,'s2':35,'s3':35}
internal2 = {'s1':45,'s2':45,'s3':45}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    45
s2    45
s3    45
dtype: int64

In [15]:
final={'Internal':internal1,'Internal2':internal2}
final=pd.DataFrame(final)
print(final)

    Internal  Internal2
s1        35         45
s2        35         45
s3        35         45

In [17]:
final.columns # returns the names of column

Index(['Internal', 'Internal2'], dtype='object')

In [18]:
final.values # returns all row values in 2 dimentinonal array

array([[35, 45],
       [35, 45],
       [35, 45]], dtype=int64)

In [21]:
final.values[1] # 1 rpresent the row index

array([35, 45], dtype=int64)

In [24]:
final.values[2][0] = 350 # update the dataframe values

In [25]:
final.values

array([[ 35,  45],
       [ 35,  45],
       [350,  45]], dtype=int64)

In [26]:
for row in final.values:
    print('internal1 - ',row[0],'internal2 - ',row[1])

internal1 -  35 internal2 -  45
internal1 -  35 internal2 -  45
internal1 -  350 internal2 -  45

In [28]:
final.loc['s4'] = [20,18] #insert the new records
final

    Internal  Internal2
s1        35         45
s2        35         45
s3       350         45
s4        20         18

In [29]:
final.values[2]=[155,255]
final

    Internal  Internal2
s1        35         45
s2        35         45
s3       155        255
s4        20         18

In [11]:
pwd

'C:\\Users\\MINAKSHI KISKU'

In [12]:
import pandas as pd
FilePath='Datafiles/Income.csv'
def readcsvData(FilePath):
    return pd.read_csv(FilePath)
readcsvData(FilePath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [13]:
import pandas as pd
FilePath='Datafiles/RegularSeasonCompactResult.csv'
def readcsvData(FilePath):
    return pd.read_csv(FilePath)
readcsvData(FilePath)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [13]:
import pandas as pd
FilePath=r'C:\Users\MINAKSHI KISKU\Desktop\FilePath\Income.csv'
def readCsvData(FilePath):
    return pd.read_csv(FilePath)
df=readCsvData(FilePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [14]:
# extract income of all states in year 2013
# alambama : 41381
# ..........
for row in df.values:
   print(row[1],' : ',row[-1])

Alabama  :  41381
Alaska  :  61137
Arizona  :  50602
Arkansas  :  39919
California  :  57528

In [15]:
# Average income of California
def avgofState():
  s = 0
  for i in range(2,11):
       s += df.values[4][i]
  return s // len(df.values[4][2:])
avgofState()

55350

In [16]:
# Function which only displays the column names in the list
# GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013
def printDataFrameColumns(df):
   li = []
   columns = df.columns
   for i in columns:
       li.append(i)
   return li
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [10]:
import pandas as pd
filePath = 'File Path/RegularSeasonCompactResult.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df = readCsvData(filePath)
print(df)

FileNotFoundError: [Errno 2] File b'File Path/RegularSeasonCompactResults.csv' does not exist: b'File Path/RegularSeasonCompactResults.csv'

In [12]:
pwd

'C:\\Users\\MINAKSHI KISKU'

In [3]:
import pandas as pd
filePath =r'C:\Users\MINAKSHI KISKU\Desktop\File Path\RegularSeasonCompactResults.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df = readCsvData(filePath)
print(df)

FileNotFoundError: [Errno 2] File b'C:\\Users\\MINAKSHI KISKU\\Desktop\\File Path\\RegularSeasonCompactResults.csv' does not exist: b'C:\\Users\\MINAKSHI KISKU\\Desktop\\File Path\\RegularSeasonCompactResults.csv'

In [7]:
filepath=r'C:\Users\MINAKSHI KISKU\Desktop\File Path\RegularSessionCompactResults.csv'
def readcsvData(filepath):
    return pd.read_csv(filepath)
df=readcsvData(filepath)
print(df)

FileNotFoundError: [Errno 2] File b'C:\\Users\\MINAKSHI KISKU\\Desktop\\File Path\\RegularSessionCompactResults.csv' does not exist: b'C:\\Users\\MINAKSHI KISKU\\Desktop\\File Path\\RegularSessionCompactResults.csv'

In [7]:
pwd

'C:\\Users\\MINAKSHI KISKU'

In [14]:
list(map(lambda x: x**-1, [1, 2, 3]))

[1.0, 0.5, 0.3333333333333333]

In [15]:
list(map((lambda x:x^2), range(10)))

[2, 3, 0, 1, 6, 7, 4, 5, 10, 11]